 /* Getting rid of the default link styles here */
 .navbar li a {
    color: #000;
    text-decoration: none;
  }

  body {
      background-color: lightgray;
  }
.logo {
    font-weight: bold;
    background-color: lightseagreen
    color: white;
    font-size: 30px;
    font-style: normal;
}
h1 {
    color: lightseagreen;
    font-weight: bold;
    font-size: 35px;
}

h2 {
    color: lightseagreen;
    font-weight: bold;
    font-size: 30px;
}

h3 {
    color: lightseagreen;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10%;
}

.col-sm-12 {
    margin-left: 10%;
}



/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 480px) {
    .navbar li {
      padding: 10px;